# Ignore Python virtual environment folder
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code settings folder
.vscode/

# Mac system files
.DS_Store


# Ignore environment variables file (if any)
.env

llm_models/